{% extends 'base.html' %}
{% load static %}

{%block title%}Agregado{% endblock %}

{%block styles%}
  
{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="categoryModalLabel">Agregar Categoria</h1>
        <button id="btnCloseModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addCategoryForm">
          {% csrf_token %}
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreCategoria" placeholder="Nombre de la categoria">
          </div>
          <button type="submit" class="btn btn-success">Agregar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="row w-100">
  <h1>Ingreso de producto</h1>
</div>
<div class="row w-100">
  <div class="card">
    <div class="card-body">
        {% csrf_token %}
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre del producto">
        </div>
        <div class="mb-3">
          <label for="categoria" class="form-label">Categoria</label>
          <input type="text" class="form-control" id="categoria" placeholder="Categoria del producto">
          </select>
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label">Precio</label>
          <input type="text" class="form-control" id="precio" placeholder="Precio del producto">
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label">Cantidad en Stock</label>
          <input type="text" class="form-control" id="stock" placeholder="Cantidad en stock del producto">
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripción</label>
          <textarea class="form-control" id="descripcion" rows="3" placeholder="Descripción del producto"></textarea>
        </div>
        {% comment %} Usuario a agregar el item {% endcomment %}
        {% if isAdmin %}
        <label for="categoria" class="form-label">Usuario</label>
        <div class="input-group mb-3">
          <select class="form-select" id="user" name="user">
            <option value='0'>Seleccione un usuario</option>
            {% for extendeduser in extendedusers %}
            <option value="{{ extendeduser.api_key }}">{{ extendeduser.user.username }}</option>
            {% endfor %}
          </select>
        </div>
        {% endif %}
        <button {% if isAdmin == False %}api-key="hola"{% endif %} id="addItemButton" type="button" class="btn btn-primary">Agregar Producto</button>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var isAdmin = {{ isAdmin|yesno:"true,false" }};
    var apiKey = "{{ api_key }}";

  </script>
  <script src="{% static 'js/agregar-producto.js' %}"></script>
{% endblock %}