{% extends 'base.html' %}
{% load static %}

{%block title%}Inicio{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center m-4">
  <div class="col-3">
    <img src="{% static 'img/bodemaxlogo.jfif' %}" class="img-thumbnail rounded-circle" alt="BODEMAX">
  </div>
  
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <h1 class="display-4">Almacenamos, tu vendes</h1>
  </div>
</div>
<div class="container benefit-section">
  <div class="text-center mb-5">
      <h1 class="display-4">¿Por qué elegir Bodemax?</h1>
      <p class="lead">Simplifica tu logística y enfócate en vender</p>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
          <div class="card benefit-card h-100 text-center p-4">
              <div class="card-body">
                  <div class="benefit-icon mb-3">
                      <i class="bi bi-box-seam"></i>
                  </div>
                  <h5 class="benefit-title">Optimización de Espacio y Costos</h5>
                  <p class="card-text">Ahorra en alquileres y mantenimiento pagando solo por el espacio que usas.</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card benefit-card h-100 text-center p-4">
              <div class="card-body">
                  <div class="benefit-icon mb-3">
                      <i class="bi bi-list-check"></i>
                  </div>
                  <h5 class="benefit-title">Gestión de Inventarios Simplificada</h5>
                  <p class="card-text">Monitorea tus existencias en tiempo real y recibe alertas de stock bajo.</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card benefit-card h-100 text-center p-4">
              <div class="card-body">
                  <div class="benefit-icon mb-3">
                      <i class="bi bi-truck"></i>
                  </div>
                  <h5 class="benefit-title">Olvida la preparación</h5>
                  <p class="card-text">Reduce tiempos de preparación, nosotros nos encargamos de eso.</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card benefit-card h-100 text-center p-4">
              <div class="card-body">
                  <div class="benefit-icon mb-3">
                      <i class="bi bi-arrows-expand"></i>
                  </div>
                  <h5 class="benefit-title">Flexibilidad y Escalabilidad</h5>
                  <p class="card-text">Adaptamos nuestras soluciones a tus necesidades, permitiéndote crecer sin preocupaciones.</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card benefit-card h-100 text-center p-4">
              <div class="card-body">
                  <div class="benefit-icon mb-3">
                      <i class="bi bi-shield-lock"></i>
                  </div>
                  <h5 class="benefit-title">Seguridad y Confiabilidad</h5>
                  <p class="card-text">Tus productos estarán seguros con vigilancia 24/7 y control de acceso avanzado.</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card benefit-card h-100 text-center p-4">
              <div class="card-body">
                  <div class="benefit-icon mb-3">
                      <i class="bi bi-headset"></i>
                  </div>
                  <h5 class="benefit-title">Soporte Personalizado</h5>
                  <p class="card-text">Nuestro equipo de expertos está aquí para ayudarte en todo momento.</p>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row d-flex justify-content-center m-2">
  <div class="col-3">
    <div class="card">
      <div class="card-body d-flex justify-content-center">
        <div class="row">
          <div class="col-12"><img id="weatherIMG" src="" alt="" srcset=""></div>
        </div>
        <div class="row">
          <div class="col-12">
            <h1 id="temperatura"></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/api-clima.js' %}"></script>
{% endblock %}

