{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{%block title%}Agregado{% endblock %}

  
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/ver-productos.css' %}">
{% endblock %}
  
{% block content %}
<div class="row w-100">
  <h1 href="https://www.youtube.com/watch?v=ggDbDRUauzo&ab_channel=billnyetherussianspy">Ver Productos</h1>
</div>
<div class="row">
  <div class="col-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="btnBuscar">
      <button class="btn btn-success" type="button" id="btnBuscar"><i class="bi bi-search"></i></button>
    </div>
  </div>
  <div class="col-3">
    <select class="form-select" aria-label="Seleccionar">
      <option selected>Seleccionar categoria</option>
      <option value="1">Canino</option>
      <option value="2">Felino</option>
      <option value="3">Infante</option>
    </select>
  </div>
</div>
<div class="container-fluid vh-100">
  <div class="row w-100">
    <div class="card custom-card">
      <div class="card-body overflow-scroll">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Stock</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Categoria</th>
              <th scope="col">Usuario</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for element in items %}
              <tr>
                <td class="item-id">{{ element.item.id }}</td>
                <td>{{ element.item.name }}</td>
                <td class="item-price">${{ element.item.price | intcomma }}</td>
                <td class="item-stock">{{ element.item.stock }}</td>
                <td>{{ element.item.description }}</td>
                <td>{{ element.item.category }}</td>
                <td class="user-username">{{ element.user.user.username }}</td>
                <td class="user-key" hidden>{{ element.item.user_key }}</td>
                <td class="buttons-col">
                  <div class='row'>
                    <div class='col'>
                      <button class='btn btn-primary'><i class="bi bi-pencil-fill"></i></button>
                    </div>
                    <div class='col'>
                      <button class='btn btn-danger'><i class="bi bi-trash-fill"></i></button>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/eliminar-producto.js' %}"></script>
  <script src="{% static 'js/editar-producto.js' %}"></script>
{% endblock %}